In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
test = pd.read_csv(r"C:\Users\elise\OneDrive\Documenten\Data_science\titanic\test.csv")
train = pd.read_csv(r"C:\Users\elise\OneDrive\Documenten\Data_science\titanic\train.csv")
gender_submission = pd.read_csv(r"C:\Users\elise\OneDrive\Documenten\Data_science\titanic\gender_submission.csv")

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Analyse features

### PassengerId

In [5]:
train = train.drop("PassengerId", axis = 1)
test = test.drop("PassengerId", axis = 1)

### Pclass

In [6]:
train["Pclass"].describe()

count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

In [7]:
train["Pclass"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Pclass
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

### Name

niet relevant?

In [8]:
train = train.drop("Name", axis = 1)
test = test.drop("Name", axis = 1)

### Sex

In [9]:
train["Sex"].describe()

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [10]:
train["Sex"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Sex
Non-Null Count  Dtype
--------------  -----
891 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

### Age

In [11]:
train["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [12]:
train["Age"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

drop null age rows

In [13]:
train = train[train['Age'].notna()]
test = test[test['Age'].notna()]

### SibSp

In [14]:
train["SibSp"].describe()

count    714.000000
mean       0.512605
std        0.929783
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        5.000000
Name: SibSp, dtype: float64

In [15]:
train["SibSp"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: SibSp
Non-Null Count  Dtype
--------------  -----
714 non-null    int64
dtypes: int64(1)
memory usage: 11.2 KB

### Parch

In [16]:
train["Parch"].describe()

count    714.000000
mean       0.431373
std        0.853289
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        6.000000
Name: Parch, dtype: float64

In [17]:
train["Parch"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Parch
Non-Null Count  Dtype
--------------  -----
714 non-null    int64
dtypes: int64(1)
memory usage: 11.2 KB

### Ticket

In [18]:
train["Ticket"].describe()

count        714
unique       542
top       347082
freq           7
Name: Ticket, dtype: object

In [19]:
train["Ticket"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Ticket
Non-Null Count  Dtype
--------------  -----
714 non-null    object
dtypes: object(1)
memory usage: 11.2+ KB

In [20]:
train = train.drop("Ticket", axis = 1)
test = test.drop("Ticket", axis = 1)

### Fare

In [21]:
train["Fare"].describe()

count    714.000000
mean      34.694514
std       52.918930
min        0.000000
25%        8.050000
50%       15.741700
75%       33.375000
max      512.329200
Name: Fare, dtype: float64

In [22]:
train["Fare"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Fare
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 11.2 KB

### Cabin

In [23]:
train["Cabin"].describe()

count     185
unique    134
top        G6
freq        4
Name: Cabin, dtype: object

In [24]:
train["Cabin"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Cabin
Non-Null Count  Dtype
--------------  -----
185 non-null    object
dtypes: object(1)
memory usage: 11.2+ KB

drop Cabin, too little data

In [25]:
train = train.drop("Cabin", axis = 1)
test = test.drop("Cabin", axis = 1)

### Embarked

In [26]:
train["Embarked"].describe()

count     712
unique      3
top         S
freq      554
Name: Embarked, dtype: object

In [27]:
train["Embarked"].info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Embarked
Non-Null Count  Dtype
--------------  -----
712 non-null    object
dtypes: object(1)
memory usage: 11.2+ KB

In [28]:
train = train[train['Embarked'].notna()]
test = test[test['Embarked'].notna()]

# Model

In [29]:
y_train = train["Survived"]
x_train = train.drop("Survived", axis = 1)

In [30]:
#y_test = test["Survived"]
#x_test = test.drop("Survived", axis = 1)

In [31]:
x_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

## labelencoder

In [32]:
from sklearn import preprocessing
leSex = preprocessing.LabelEncoder()
leSex.fit(x_train["Sex"])

LabelEncoder()

In [33]:
x_train["Sex"] = leSex.transform(x_train["Sex"])
test["Sex"] = leSex.transform(test["Sex"])

In [34]:
leFare = preprocessing.LabelEncoder()
leFare.fit(x_train["Fare"])

LabelEncoder()

In [35]:
x_train["Fare"] = leFare.transform(x_train["Fare"])
test["Fare"] = leFare.transform(test["Fare"])

ValueError: y contains previously unseen labels: [3.1708, 6.95, 7.0, 7.2833, 7.5792, 7.6292, 7.725, 7.8208, 7.8292, 7.85, 8.9625, 9.325, 9.6875, 12.1833, 12.7375, 13.775, 13.8625, 13.9, 15.0333, 15.1, 25.7, 27.4458, 28.5375, 31.5, 31.6792, 42.4, 42.5, 45.5, 50.0, 57.75, 60.0, 69.55, 75.2417, 82.2667, 136.7792, 221.7792, nan]

In [ ]:
leEmbarked = preprocessing.LabelEncoder()
leEmbarked.fit(x_train["Embarked"])

In [ ]:
x_train["Embarked"] = leEmbarked.transform(x_train["Embarked"])
test["Embarked"] = leEmbarked.transform(test["Embarked"])

In [ ]:
x_train.head()

In [ ]:
from sklearn import svm
clf = svm.SVC()
clf.fit(x_train, y_train)

In [ ]:
y_pred = clf.predict(test)

In [ ]:
#confusion_matrix(y_test, y_pred)